<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{ resource_url('css/all.css') }}">

    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

<div class="app">
    <div class="header">
        <div class="logo">
            <img src="{{ url('/src/Resources/public/img/logo.svg') }}" alt="">
        </div>
        <ul class="menu">
            {% set items = getMenu() %}

            {% for item in items %}
            <li{% if item.id == page.id %} class="active"{% endif %}>
                <a href="{{ url(item.route.link) }}" target="{{ item.route.target }}">
                    {{ item.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        {% include template_from_string(page.html) %}
    </div>

    <script type="text/javascript" src="{{ resource_url('js/all.js') }}"></script>
</div>

</body>
</html>