<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>{{ page.title }}</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
        <link rel="stylesheet" href="{{ resource_url('dist/all_' ~ domain.id ~ '.css') }}?_bc={{ timestamp }}">
    {% endblock %}

    {% block meta %}
        <meta name=viewport content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>

{% block github_corner %}
    {% include 'frontend/index/github_corner.twig' %}
{% endblock %}

{% block app %}
    <div class="app">
        {% block app_header %}
            <div class="header">
                {% block app_header_logo %}
                    <div class="logo">
                        <img src="{{ url('/src/Resources/public/img/logo.svg') }}" alt="">
                    </div>
                {% endblock %}
                {% block app_header_menu %}
                    <ul class="menu">
                        {% set items = getMenu() %}

                        {% for item in items if not item.hideTop %}
                            <li{% if item.id == page.id %} class="active"{% endif %}>
                            <a href="{{ url(item.route.link) }}" target="{{ item.route.target }}">
                                {{ item.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endblock %}
                {% block app_header_language_select %}
                    <form action="{{ url('frontend/front/selectLanguage') }}" method="post">
                        <select class="language-select" name="id" onchange="this.parentNode.submit()">
                            {% for language in languages %}
                                <option value="{{ language.id }}"{% if language.selected %} selected{% endif %}>
                                    {{ language.isoCode|upper }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                {% endblock %}
            </div>
        {% endblock %}
        {% block app_body %}
            <div class="content">
                {{ page.html }}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ resource_url('dist/all_' ~ domain.id ~ '.js') }}?_bc={{ timestamp }}"></script>
{% endblock %}

</body>
</html>